files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar
            PROFILE=`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "PROFILE", "DefaultValue": "default"}}`
            # run app
            killall java
            java -Dfile.encoding=UTF-8 -Dspring.profiles.active=$PROFILE -jar $JAR_PATH

    "/opt/elasticbeanstalk/tasks/taillogs.d/infologs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/info/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/infologs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/info/*.log

    "/opt/elasticbeanstalk/tasks/taillogs.d/warnlogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/warn/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/warnlogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/warn/*.log

    "/opt/elasticbeanstalk/tasks/taillogs.d/errorlogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/error/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/errorlogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/error/*.log

    "/opt/elasticbeanstalk/tasks/taillogs.d/debuglogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/debug/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/debuglogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/debug/*.log

    "/opt/elasticbeanstalk/tasks/taillogs.d/sqllogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/sql/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/sqllogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/sql/*.log